@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  
    font-family: 'Young Serif', serif;
     overflow-x: hidden; 
    scroll-behavior: smooth;
   
}

:root::-webkit-scrollbar{
    width: 7px;
	background-color: #F5F5F5;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0,0.6);
    border-radius: 10px;
  }

:root::-webkit-scrollbar-track{
    color:blueviolet;
    width: 100%;
    height: 100px;
    z-index: 2;
}
:root::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
.fontmanual{
font-family: 'Dancing Script', cursive;
}
.fontmanual1{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;

    }

.fontmanual2{
    font-family: 'Dancing Script', cursive;
font-family: 'Young Serif', serif;
    
    }
canvas { width : 100% !important ;
  
       color: transparent !important;
       position: absolute  !important ;
       display: flex !important;
       align-items: center !important;
       justify-content: center !important ;
       background-color: transparent !important;
       opacity: 30% !important;
       z-index: -10 !important;
   filter: contrast(00%);      
   filter: saturate(0%); 
}
.none {
    height : 0px !important;
}

h1{
    filter: contrast(1.5);

}

.bef::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "Aman Agrawal";
    color: black;
    display: block;
    position:absolute;
    left: -5px
}

.about::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "About Me =>";
    color: black;
    display: block;
    position:absolute;
    left: -7px
}

.abo::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "Skills Gained =>";
    color: black;
    display: block;
    position:absolute;
    left: -7px
}

.abou::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "<= Education";
    color: black;
    display: block;
    position:absolute;
    left: -7px
}

.ab::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "Projects =>";
    color: black;
    display: block;
    position:absolute;
    left: -7px
}

.aaaa::before{
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke: 2px black;
    content: "<= Contact Me";
    color: black;
    display: block;
    position:absolute;
    left: -7px

}